---
export const prerender = false;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Hour</title>
  </head>
  <body>
    <script>
      window.location.replace(
        localStorage.getItem("hour_jwt") ? "/booking" : "/login",
      );
    </script>
  </body>
</html>
