---
interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex, nofollow" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    {description && <meta name="description" content={description} />}
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <style is:global>
      @import "../styles/base.css";
    </style>
  </body>
</html>
